<div>
  {{#if isOne}}
  <br />
    <h2>Vista de Producto</h2>
    <br />
  {{else}}
    <h1>Venta de Productos Gamer</h1>
 
  <br />
  <h2>Lista de Productos</h2>
 {{/if}}


  <div class="container-fluid">
    <div class="row">

      {{#if isOne}}
        <div class="col-sm-4">
          <img src="../images/{{docs.thumbnail}}" class="card-img-top" alt="Fissure in Sandstone"/>
        </div>
        <div class="col-sm-8">
          <div class="card">



            <div class="card-body">
              <h5 class="card-title">{{docs.title}}</h5>

              <p class="card-text">
                Precio: ${{docs.price}} <br />
                Stock: {{docs.stock}} <br />
                Categoria: {{docs.category}} <br /><br />
                descripción: {{docs.description}} 

              </p>

              <!--<div class="card-footer">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <a href="/products/{{docs.id}}" class="btn btn-primary" data-mdb-ripple-init>Ver Detalle</a>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      {{else}}
      {{#each docs}}
      <div class="col-sm-4 mb-3 mb-sm-3">
        <div class="card" style="width: 18rem;">

          <img src="./images/{{this.thumbnail}}" class="card-img-top" alt="Fissure in Sandstone"/>

          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>

            <p class="card-text">
              Precio: ${{this.price}} <br />
              Stock: {{this.stock}}
            </p>

            <div class="card-footer">
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <a href="/products/{{this.id}}" class="btn btn-primary" data-mdb-ripple-init>Ver Detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

      {{/if}}
    </div>
  </div>
</div>



<script src="/node_modules/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>