<div>
    <h1>Hola, {{user.name}} {{user.last_name}} ! Bienvenido</h1>

    <form action="" method="post">
        <input type="text" id="texto" />
        <button type="submit">Enviar</button>
    </form>

    {{#if isAdmin}}

    {{#each food}}
    <div>
        <p>Producto: {{this.name}} - Precio: ${{this.price}}</p>
    </div>
    {{/each}}

    {{else}}
    <p>No eres Amin pero Bienvenido !!!</p>
    {{/if}}


</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>